@import "../shared/variables";

.header {
  @include FlexCenter($justify: space-between);

  padding: 0 10px;
  background-color: $primary-color;
  height: 60px;

  #{&}__title {
    @include FlexCenter();
    margin: 10px;

    p {
      padding-bottom: 5px;
      margin-left: 10px;
      font-size: 20px;
      font-weight: 700;
      word-wrap: unset;
    }
  }

  #{&}__search {
    flex: 1;
    margin-left: 10px;
    text-align: center;

    input {
      padding: 5px;
      padding-left: 10px;

      border: none;
      border-radius: 10px;

      height: 30px;
      font-size: 15px;
      width: 80%;

      background-color: darken($primary-color, 5%);
      outline: none;
    }
  }
}
