@import "../shared/variables";

.header {
  @include FlexCenter($justify: space-between);

  background-color: $primary-color;
  height: 60px;
  width: 100%;

  #{&}__title {
    @include FlexCenter();
    margin: 20px;

    p {
      padding-bottom: 5px;
      margin-left: 10px;
      font-size: 20px;
      font-weight: 700;
      word-wrap: unset;
    }
  }

  #{&}__search {
    flex: 1;
    text-align: center;

    input {
      padding: 5px;
      padding-left: 10px;

      border: none;
      border-radius: 10px;

      height: 30px;
      font-size: 15px;
      width: 80%;

      background-color: darken($primary-color, 5%);
      outline: none;
    }
  }

  button {
    margin-right: 20px;
  }
}

.mat-menu-trigger {
  text-align: center;
  padding: 0 5px;
}

button.mat-menu-item {
  text-align: center;
  padding: 0 5px;
}

.mat-menu-content:not(:empty) {
  padding: 0;
}
